 .u-section-1 {
  min-height: 762px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 762px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 21px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  margin: 20px 117px 0 125px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 300;
  text-align: justify;
  margin: 17px 17px 0 25px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 762px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 80px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  width: 349px;
  margin: 42px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 300;
  margin: 62px 20px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 641px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 83px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 628px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 592px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 46px;
    margin-left: 54px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 88px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 792px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 832px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }
}